<mat-card class="container">
    <h1>Cadastro</h1>
    <form [formGroup]="form" >
        <mat-form-field>
        <input matInput type="text" placeholder="nome de usuario" formControlName="user">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Primeiro nome" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>  
            <input matInput type="text" placeholder="ultimo nome" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>  
            <input matInput type="text" placeholder="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>  
            <input matInput type="text" placeholder="senha" formControlName="password">
        </mat-form-field>    
        <mat-form-field> 
            <input matInput type="text" placeholder="telefone" formControlName="phone"> 
        </mat-form-field>  
        <button mat-raised-button color="primary" (click)="registrar()">Update Name</button>  
    </form>
</mat-card>

  {{usuario|json}}