<mat-card class="container">
    <form [formGroup]="form">
        
        <mat-card-header style="display: flex; flex-direction: column; align-items: center;">
            <mat-card-title>Fazer Login</mat-card-title>
        </mat-card-header>

        <mat-form-field>
            <input matInput type="text" placeholder="Usuario" formControlName="user">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Senha" formControlName="password">
        </mat-form-field>

        <button mat-flat-button color="accent" (click)="login()">Entrar</button><br>
        <button mat-flat-button color="warn" routerLink="/user">Registre aqui</button>

    </form>
</mat-card>